<STYLE type=text/css>

A{TEXT-DECORATION: none}
A:link {COLOR: "white"; FONT-SIZE: 12pt}
A:visited {COLOR: "white"; FONT-SIZE: 12pt}
A:active {COLOR: red; FONT-SIZE: 12pt}
A:hover {COLOR: "red"; FONT-SIZE: 12pt}

BODY{FONT-SIZE: 11pt}
Span{COLOR: white; FONT-SIZE: 12pt; TEXT-DECORATION: none}

</STYLE>