Body {border:0;
font-size: 10px; font-family: "ו"; background-color:#F1F7FD; COLOR: #163A54; 
}

Table.tblBody{
border-left:2 #808080 #FFFFFF outset;border-top:2 #808080 #FFFFFF outset;
border-right:1 #808080 #000000 outset;border-bottom:1 #808080 #000000 outset;
}
Table.tblWeek{cursor:default;
border-left:1 #000000 solid;border-top:1 #000000 solid;
border-right:2 #808080 #FFFFFF inset;border-bottom:2 #808080 #FFFFFF inset;
}

TR.trWeek {BACKGROUND-COLOR: #ABC8EC}
TR.trDay {BACKGROUND-COLOR: #FFFFFF}

TD{font-family:"ו"; font-size: 12px;}


